services:
  mediawiki:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MEDIAWIKI_MAJOR_VERSION: ${MEDIAWIKI_MAJOR_VERSION}
        MEDIAWIKI_VERSION: ${MEDIAWIKI_VERSION}
        MEDIAWIKI_BRANCH: ${MEDIAWIKI_BRANCH}
        CITIZEN_VERSION: ${CITIZEN_VERSION}
    container_name: atlwiki
    volumes:
      - wiki-webroot:/var/www/atlwiki
      - .env:/var/www/atlwiki/.env
    expose:
      - "9000"
    depends_on:
      redis:
        condition: service_started
    networks:
      - wiki-network

  nginx:
    image: nginx:1.28-alpine
    container_name: atlwiki-nginx
    depends_on:
      - wiki
    ports:
      - "3000:80"
    volumes:
      - wiki-webroot:/var/www/atlwiki:ro
      - ./mediawiki.conf:/etc/nginx/conf.d/mediawiki.conf:ro
    networks:
      - wiki-network

  redis:
    image: redis:7-alpine
    container_name: atlwiki-redis
    ports:
      - "6379:6379"
    networks:
      - wiki-network

networks:
  wiki-network:
    driver: bridge

volumes:
  wiki-webroot:
    driver: local
