services:
  wiki:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: atlwiki
    volumes:
      - .env:/var/www/atlwiki/.env
    ports:
      - "3001:80"
    depends_on:
      redis:
        condition: service_started
    networks:
      - wiki-network

  redis:
    image: redis:7-alpine
    container_name: atlwiki-redis
    ports:
      - "6379:6379"
    networks:
      - wiki-network

networks:
  wiki-network:
    driver: bridge
