name: staging-wiki # DO NOT CHANGE THIS, THIS WILL BREAK JUSTSCRIPTS AND OTHER AUTOMATIONS

services:
  mediawiki:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MEDIAWIKI_MAJOR_VERSION: ${MEDIAWIKI_MAJOR_VERSION}
        MEDIAWIKI_VERSION: ${MEDIAWIKI_VERSION}
        MEDIAWIKI_BRANCH: ${MEDIAWIKI_BRANCH}
        CITIZEN_VERSION: ${CITIZEN_VERSION}
    container_name: staging-wiki-mediawiki
    depends_on:
      valkey:
        condition: service_started
    volumes:
      - wiki-webroot:/var/www/wiki
      - .env:/var/www/wiki/.env:ro
    networks:
      - wiki-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "php-fpm", "-t" ]
      interval: 30s
      timeout: 10s
      start_period: 60s
      retries: 3
    user: "1000:1000"
    expose:
      - '9000'

  nginx:
    image: nginx:stable-alpine
    container_name: staging-wiki-nginx
    depends_on:
      mediawiki:
        condition: service_healthy
    environment:
      NGINX_SERVER_NAME: ${SITENAME}
    volumes:
      - wiki-webroot:/var/www/wiki:ro
      - ./wiki/mediawiki.conf:/etc/nginx/templates/mediawiki.conf.template:ro
      - ./wiki/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - '3001:80'
    networks:
      - wiki-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/" ]
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  valkey:
    image: valkey/valkey:alpine
    container_name: staging-wiki-valkey
    volumes:
      - valkey-data:/data
    networks:
      - wiki-network
    command: valkey-server --appendonly yes --maxmemory 256mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3
    expose:
      - '6379'

  opensearch:
    image: opensearchproject/opensearch:1.3.20
    container_name: staging-wiki-opensearch
    environment:
      - discovery.type=single-node
      - cluster.name=mediwiki-cluster
      - node.name=mediwiki-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - plugins.security.disabled=true
    restart: unless-stopped
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - wiki-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    expose:
      - '9200'

networks:
  wiki-network:
    driver: bridge

volumes:
  wiki-webroot:
    driver: local
  valkey-data:
    driver: local
  opensearch-data:
    driver: local
