[Unit]
Description=Generate atl.wiki Sitemap (Staging)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/docker exec staging-wiki-mediawiki php /var/www/wiki/mediawiki/maintenance/run.php generateSitemap --memory-limit=50M --fspath=/var/www/wiki/sitemap/ --identifier=atl.wiki --urlpath=/sitemap/ --server=https://staging.atl.wiki --compress=yes --skip-redirects
