[Unit]
Description=Generate atl.wiki Sitemap (Staging)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/docker exec staging-atlwiki-mediawiki php /var/www/atlwiki/mediawiki/maintenance/run.php generateSitemap --memory-limit=50M --fspath=/var/www/atlwiki/sitemap/ --identifier=staging.atl.wiki --urlpath=/sitemap/ --server=https://staging.atl.wiki --compress=yes --skip-redirects
