[Unit]
Description=Run sitemap generator daily at 6:00 AM
Requires=wiki-sitemap.service

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
